#agenda {
    flex-wrap: wrap;
    justify-content: space-between;
}

#agenda .col {
    width: 14%;
    background-color: #C6F8E5;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

#agenda .col:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#agenda h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.active_flex {
    display: flex;
}

.active_block {
    display: block;
}

.col button {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #ffffff;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    color:#ffffff;
    text-align:center;
    transition: all 0.2s;
    background-color: #ff7171;
    outline: none;
}

.col button:hover {
    color:#ff7171;
    background-color:#ffffff;
}

.col button.starry {
    background-color: #f5c0c0;
}
.col button.starry:hover {
    color:#f5c0c0;
    background-color:#ffffff;
}

nav {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    height: 4em;
    /* line-height: 4em; */
    z-index: 80;
    background: #aee1e1;
}

nav a {
    text-align: left;
    font-size: 2em;
    padding: 10px;
    color:#6e7582;
}

nav div {
    text-align: center;
    margin-top: -1.25em;
    font-size: 2em;
    font-weight: bold;
}

.text_hover {
    display:none;
    font-size: 20px;
}

a:hover .text_hover {
    display: block;
    position: absolute;
    color: #ffffff;
}

article {
    display: none;
    padding-top: 70px;
}

html {
    margin-left: 100px;
    margin-right: 100px;
    color: #6e7582;
    font-family:'Roboto',sans-serif;
    font-weight:300;
}

article ol, ul {
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
}

article li {
    border-top: 2px solid rebeccapurple;
    margin-top: 5px;
}

article li p {
    margin-top: 3px;
    margin-bottom: 3px;
}

input[type=text] {
    width: 30%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-repeat: no-repeat;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 12px;
    padding-bottom: 10px;
    transition: width 0.4s ease-in-out;
}
  
input[type=text]:focus {
    width: 100%;
}

#motivation h1 {
    margin-top: 0;
}

.charts {
    width: 100%;
}

.chartDiv {
    width: 50%; /* Can be in percentage also. */
    height: auto;
    margin: 0 auto;
    padding: 1rem;
    position: relative;
    background: linear-gradient(to right, #CCE1F2,#E2BEF1);
    padding: 5px;
}

.chartDiv canvas {
    background: #ffffff;
    color: white;
    padding: 2rem;
}

.inputAgenda {
    margin-bottom: 30px;
}

#motivation {
    text-align: center;
}

#motivation h1 {
    padding: 10px;
}

#image {
    height: 700px;
    width: 100%;
}

#img {
    width: 700px;
    height: 100%;
    margin-bottom: 20px;
    object-fit: contain;
    border: 1px solid black;
    box-shadow: 10px 10px 5px grey;
}

.button {
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
  }
  
  .button5:hover {
    background-color: #555555;
    color: white;
  }

  .starred {
      font-weight: 800;
      color: orangered;
  }
  
  @media (max-width: 1200px) {
      .col {
      max-width: 100%;
      flex: 100%;
    }

  @media all and (max-width:30em){
      .col button{
          display:block;
          margin:0.4em auto;
      }
    }
}

#settings {
    text-align: center;
}